# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Jake Reichert
email = jake@jakereichert.com
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = /usr/local/bin/diffmerge.sh \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	trustExitCode = true
	cmd = /usr/local/bin/diffmerge.sh --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[init]
	defaultBranch = main
